* {
    margin: 0;
    padding: 0;
    background: rgb(235, 231, 231);
}

.appname {
    text-align: center;
    background-color: rgb(11, 91, 122);
    color: white;
    padding: 10px;
}

.color-canvas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-board {
    height: 250px;
    width: 350px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: inherit;
    font-size: 1.5em;
}

.rgb-color,
.hex-color {
    background: inherit;
}

.color-control {
    margin-top: 30px;
}

.range-control {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-control input {
    margin-left: 10px;
}