/* Containers */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

/* Flex */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

/* Card */
.card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
}

/* Form */
.form-control {
    margin: 10px 0;
}

/* Button */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--primary-font-color);
}

/* Background and Colored Button */
.bg-primary, .btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
}

.bg-dark, .btn-dark {
    background-color: var(--dark-color);
    color: var(--primary-font-color);
}

.bg-light, .btn-light {
    background-color: var(--light-color);
    color: var(--dark-font-color);
}

/* Alerts */
.alert {
    background: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
    border-radius: 10px;
}

.alert i {
    margin-right: 10px;
}

.alert-success {
    background-color: var(--success-color);
    color: var(--primary-font-color);
}

.alert-danger {
    background-color: var(--danger-color);
    color: var(--primary-font-color);
}

/* Text and Text Sizes */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-light {
    color: var(--light-color);
}

.text-success {
    color: var(--success-color);
}

.text-danger {
    color: var(--danger-color);
}

/* Margin */
/* Both axis */
.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* X axis */
.mx-1 {
    margin: 0 1rem;
}

.mx-2 {
    margin: 0 1.5rem;
}

.mx-3 {
    margin: 0 2rem;
}

.mx-4 {
    margin: 0 3rem;
}

.mx-5 {
    margin: 0 4rem;
}

/* Y axis */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

/* Padding */
/* Both axis */
.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* X axis */
.px-1 {
    padding: 0 1rem;
}

.px-2 {
    padding: 0 1.5rem;
}

.px-3 {
    padding: 0 2rem;
}

.px-4 {
    padding: 0 3rem;
}

.px-5 {
    padding: 0 4rem;
}

/* Y axis */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

/* Extras */
.hidden {
    visibility: hidden;
    height: 0;
}